body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    padding: 6%;
}

.container{
    border: 1px solid black;
    height: 100%;
    margin: auto;
    padding-bottom: 20px;
    margin: 0;
    text-align: center;
}

.timer-display{
    border: 1px dotted darkgray;
    width: 20%;
    margin: auto;
    text-align: center;
    font-size: 2em;
}

button{
    padding: 5px;
    width: 10%;
}

small{
    margin: auto;
    text-align: center;
}